@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-chineseSilver: #C7C7C7CC;
  --color-cloudGray: #E8E6E6;
  --color-brightRed: #E21C21;
  --color-emeraldGreen600: #059669;
  --color-emeraldGreen700: #047857;
  --color-oliveGreen: #60695D;
  --color-darkOliveGreen: #404D3C;
  --color-stoneGray100: #F5F5F4;
}

@layer components {
  .p-small {
    @apply p-[0.2%];
  }

  .menu-header {
      @apply text-[112%] font-bold;
  }

  .menu {
      @apply pt-[3%] pl-[0.5%] font-light text-[84%] leading-[1.7rem];
  }

  .list {
      @apply pt-[14%] pl-[28%];
  }

  .navbar-profile-list {
    @apply  block px-4 py-2 text-sm text-gray-700 hover:hover:text-oliveGreen; 
  }

  .navbar-list {
    @apply block py-2 px-3 text-black rounded hover:bg-gray-100 
           md:hover:bg-transparent md:hover:text-oliveGreen md:p-0 
           text-[96%] font-[Arial];
  } 

  .navbar-user-list {
    @apply inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden 
            hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200;
  }

  .label {
    margin-right: 1rem;
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
  }
  
  .input-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .display-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  @media (min-width: 768px) {
    .display-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  .radio-button-div {
    margin-bottom: 1.25rem;
    padding-bottom: 0.5rem;
  }
  
  .message-and-button {
    font-size: 0.75rem;
    border-radius: 0.5rem;
  }

  .single-grid {
    @apply w-[60%] text-justify rounded-lg ;
  }

  .about-us-header {
    @apply font-satisfy tracking-[0.2em] text-[120%] font-bold;
  }

  .about-us-content {
    @apply font-karla pt-3 w-5/6;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
