@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-black : #000000;
  --color-white: #FFFFFF;
  --color-chineseSilver: #C7C7C7CC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh; /* Ensure the body covers the full viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
}

#page-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  background-color: var(--color-black);
  color: var(--color-white);
}

.grab-deals-layout, .about-us-layout, .assurance-layout, .francise-layout {
  padding-top: 14%;
  padding-left: 28%;
}

.grab-deals-layout {
  padding-left: 32%;
}

.grab-deals-header, .about-us-header, .assurance-header, .francise-header {
  font-size: 125%;
  font-weight: bold;
}

.grab-deals-menu, .about-us-menu, .assurance-menu, .francise-menu{
  padding-top: 3%;
  padding-left: 0.5%;
  font-weight: lighter;
  font-size: 87.5%;
  line-height: 1.7rem;
}

#feedback-social-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 2%;
  justify-items: center;
  align-items: center;
  padding-left: 8rem;
  padding-right: 4.6rem;
}

#social-links-buttons {
  padding-top: 1%;
}

#feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

#feedback-header {
  font-size: 95%;
  font-weight: lighter;
}


#social-links-header {
  font-weight: bold;
  font-size: 95%;
  text-align: center;
  padding-right: 0.4rem;
  padding-bottom: 0.2rem;
}

footer {
  color: var(--color-chineseSilver);
  background-color: var(--color-black);
  text-align: center;
  font-size: small;
  font-weight: lighter;
  font-family: 'Heebo';
  padding: 1%;
}

.footer-message, .footer-rights {
  padding: 0.2%;
}
